.nav-container {
  width: 100%;
  margin: auto;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  z-index: 1000;
}

.nav-elements {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 15px 7px;
}

.logo {
  font-family: "Salsa", cursive;
  font-weight: 700;
  font-size: 38px;
  cursor: pointer;
}

.nav-elements ul {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  text-align: center;
}

.nav-elements ul li {
  width: 80px;
  height: 25px;
}

.nav-elements ul li a {
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}
.nav-elements ul li a:hover {
  font-size: 19px;
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 1em;
}

.cart-login span {
  margin: 10px 20px;
  width: 30px;
  height: 30px;
}

.cart-login span:hover {
  text-decoration: underline;
  text-underline-offset: 1rem;
}
