.body-container {
  top: 0;
  left: 0;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.body-content {
  width: 1462px;
  height: 862px;
  background: #80ebff;
  border-radius: 15px;
  z-index: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.body-back {
  width: 90%;
  height: 780px;
  background: linear-gradient(135deg, #2b9898, #275f6f);
  position: absolute;
  border-radius: 15px;
  margin: 100px;
  z-index: -2;
}

.body-text {
  left: 0;
  top: 0;
  width: 500px;
  margin: 200px 100px;
}
.body-text h1 {
  font-family: "Salsa", cursive;
  font-size: 2.5rem;
  margin-bottom: 50px;
  letter-spacing: 1px;
}
.body-text p {
  font-size: 19px;
  letter-spacing: 2px;
}
.body-btns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 100px auto;
  gap: 50px;
}
.body-btns button {
  font-size: 18px;
  font-weight: 500;
  padding: 10px 30px;
  border: 1px solid #275f6f;
  border-radius: 10px;
  width: 200px;
  cursor: pointer;
}
.login-btn button {
  color: #275f6f;
}
.login-btn button:hover {
  color: #c4f1d2;
  background: linear-gradient(135deg, #2b9898, #275f6f);
  transition: all 200ms ease-in-out;
}
.shop-btn button {
  color: #c4f1d2;
  background: linear-gradient(135deg, #2b9898, #275f6f);
}
.shop-btn button:hover {
  color: #275f6f;
  background: transparent;
  transition: all 200ms ease-in-out;
}
