.get-in-touch {
  height: 100vh;
  width: 100%;
}
.contact-body {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.get-in-touch-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 200px;
  width: 500px;
  background: #91e2a8;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 2px 2px 10px -4px black;
}
.get-in-touch-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 2px;
  width: 100%;
}
.get-in-touch-text {
  color: #275f6f;
  font-size: 48px;
  font-weight: 700;
}
.get-in-touch-underline {
  width: 50%;
  height: 6px;
  background: #275f6f;
  border-radius: 9px;
}
.get-in-touch-inputs {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.get-in-touch-input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 380px;
  height: 60px;
  background: transparent;
  border-bottom: 2px solid #275f6f;
}
.get-in-touch-input input {
  height: 50px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 19px;
}
.get-in-touch-submit-container {
  display: flex;
  gap: 30px;
  margin: 30px auto;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.get-in-touch-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  color: #fff;
  background: linear-gradient(135deg, #275f6f, #2b9898);
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.get-in-touch-submit:hover {
  border: 1px solid #275f6f;
  background: transparent;
  color: #275f6f;
}
.get-in-touch-submit:active {
  border: 1px solid #275f6f;
  background: linear-gradient(135deg, #275f6f, #2b9898);
  color: #fff;
}
