.nav-container {
  width: 100%;
  margin: auto;
  top: 0;
  z-index: 1000;
  box-shadow: 0px -5px 10px #000f37;
  margin-bottom: 40px;
}

.nav-elements {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 15px 7px;
}

.logo {
  font-family: "Salsa", cursive;
  font-weight: 700;
  font-size: 38px;
  cursor: pointer;
}

.nav-elements ul {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  text-align: center;
}

.nav-elements ul li {
  width: 80px;
  height: 25px;
}

.nav-elements ul li a {
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}
.nav-elements ul li a:hover {
  font-size: 19px;
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 1em;
}

.cart-login button span {
  margin: 10px 20px;
  font-size: 25px;
}

.cart-login span:hover {
  text-decoration: underline;
  text-underline-offset: 1rem;
  transition: all 200ms ease-in-out;
}
button {
  background: transparent;
  border: none;
}
